<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>so in love with mathilda</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="statuc/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Soinlove</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Watson</a></li>
            <li><a href="#">Mathilda</a></li>
            <li><a href="#">about</a></li>
        </ul>
    </div>
</nav>

<div id="content"></div>
<script type="text/babel" src="/static/app.js"></script>
<script type="text/babel">
      // To get started with this tutorial running your own code, simply remove
      // the script tag loading scripts/example.js and start writing code here.





</script>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>
</body>

</html>
